<div class="card">
    <div class="card-body">
        <div
            class="titulo d-flex justify-content-between align-items-center"
            (click)="toggleForm()">
            <h2 class="m-0">Restablece tu contrasena</h2>
            <mat-icon>{{ iconKeyboardArrow }}</mat-icon>
        </div>

        <form action="" [@formAnimation]="formVisible ? 'visible' : 'hidden'">
            @if (formVisible) {
                <mat-form-field class="w-100">
                    <mat-label>Nueva Contrasena</mat-label>
                    <input type="email" matInput />
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Repetir Nueva Contrasena</mat-label>
                    <input type="email" matInput />
                </mat-form-field>
                <button class="w-100" mat-raised-button color="warn">
                    Restablecer Contrasena
                </button>
            }
        </form>
    </div>
</div>
