<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="title text-center">Ingresa</h1>
            <form class="row" [formGroup]="loginForm">
                <mat-form-field>
                    <mat-label>correo</mat-label>
                    <input matInput type="email" formControlName="email" />
                    <mat-error>correo invalido </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contrasena</mat-label>
                    <input
                        matInput
                        type="password"
                        formControlName="contrasena" />
                </mat-form-field>
            </form>
            <div class="mt-4 d-sm-flex justify-center">
                <button
                    mat-raised-button
                    [disabled]="!loginForm.valid"
                    color="primary"
                    class="w-100">
                    Ingresar
                </button>
            </div>
        </div>
    </div>
</div>
