<div class="container">
    <div class="card login">
        <div class="card-body">
            <h1 class="title text-center">Registrate</h1>
            <form class="row">
                <mat-form-field>
                    <mat-label>Nombres</mat-label>
                    <input matInput type="name" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput type="text" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput type="text" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Telefono</mat-label>
                    <input matInput type="phone" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Correo electronico</mat-label>
                    <input matInput type="email" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contasena</mat-label>
                    <input matInput type="password" />
                </mat-form-field>
            </form>
            <div class="d-sm-flex justify-content-center">
                <button
                    mat-raised-button
                    color="primary"
                    class="w-100 mb-2 btn">
                    Registrar
                </button>
                <button mat-raised-button color="warn" class="w-100">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
