<div class="wrapper__principal">
    <div class="container">
        <div class="card login">
            <div class="card-body">
                <h1 class="title text-center">Registrate</h1>
                <form class="row" [formGroup]="loginForm">
                    <mat-form-field>
                        <mat-label>Correo electronico</mat-label>
                        <input matInput type="email" formControlName="correo" />
                        <mat-error class="mb-2">{{
                            constantsShared.MSG_ERROR_EMAIL
                        }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Contasena</mat-label>
                        <input
                            matInput
                            type="password"
                            formControlName="contrasena" />
                        <mat-error class="mb-2"
                            >{{
                                constantsShared.MSG_ERROR_MIN_LENGTH_CONTRASENA
                            }}
                            {{ constantsShared.minLengthContrasena }}
                            caracteres</mat-error
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Repetir contrasena</mat-label>
                        <input
                            matInput
                            type="password"
                            formControlName="contrasenaRepeat" />
                        <mat-error class="mb-2">
                            {{
                                constantsShared.MSG_ERROR_CONTRASENA_REPETIDA_NO_COINCIDE
                            }}
                        </mat-error>
                    </mat-form-field>
                </form>
                <div class="mt-4 d-sm-flex justify-content-center">
                    <button
                        [disabled]="!loginForm.valid"
                        (click)="registrar()"
                        mat-raised-button
                        color="primary"
                        class="w-100 mb-2 btn">
                        Registrar
                    </button>
                    <button
                        mat-raised-button
                        color="warn"
                        class="w-100"
                        (click)="cancelar()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
