<div class="header" id="inicio">
    <div class="d-flex justify-content-evenly header__init header-no-fixed">
        <div class="direccion d-flex align-items-baseline m-2">
            <mat-icon svgIcon="pin_icon" />
            <span>{{ constantShared.direccion }}</span>
        </div>
        <div class="horario d-flex align-items-baseline m-2">
            <mat-icon svgIcon="clock_icon"></mat-icon>
            <span>{{ constantShared.horario }}</span>
        </div>
        <div class="telefono d-flex align-items-baseline m-2">
            <mat-icon svgIcon="mobile_icon"></mat-icon>
            <a class="tel" [href]="'tel:' + constantShared.telefono">{{
                constantShared.telefono
            }}</a>
        </div>
    </div>
    <div
        class="header-fixed d-flex justify-content-evenly"
        [class.fixed]="shouldApplyFixedHeader">
        <div class="logo">
            <img
                class="logo"
                src="../../../../../assets/img/singlePage/logo.png "
                alt="" />
        </div>
        <div class="opciones">
            <ul class="d-flex m-4 opciones__lista">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#contactame">Contactame</a></li>
                <li class="intranet" (click)="onRouteLogin()">Intranet</li>
            </ul>
        </div>
    </div>
</div>
