<div class="header">
    <div class="d-flex justify-content-evenly header__init">
        <div class="direccion d-flex align-items-baseline m-2">
            <mat-icon svgIcon="pin_icon" />
            <span>{{ constantShared.direccion }}</span>
        </div>
        <div class="horario d-flex align-items-baseline m-2">
            <mat-icon svgIcon="clock_icon"></mat-icon>
            <span>{{ constantShared.horario }}</span>
        </div>
        <div class="telefono d-flex align-items-baseline m-2">
            <mat-icon svgIcon="mobile_icon"></mat-icon>
            <a [href]="'tel:' + constantShared.telefono">{{
                constantShared.telefono
            }}</a>
        </div>
    </div>
    <div class="d-flex justify-content-evenly">
        <div class="logo">
            <img
                class="logo"
                src="../../../../../assets/img/singlePage/logo.png "
                alt="" />
        </div>
        <div class="opciones">
            <ul class="d-flex m-4 opciones__lista">
                <li>Inicio</li>
                <li>Servicios</li>
                <li>Contactate</li>
                <li class="intranet" (click)="onRouteLogin()">Intranet</li>
            </ul>
        </div>
    </div>
</div>
