@import "../../../shared/styles/generics.scss";

h1{
    font-size: 2.3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;

    span{
        font-weight: 900;
    }
}

img{
    width: 200px;
    height: 200px;
    border: 0px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

mat-divider{
    margin : 10px 0px
}

.member{
    max-width: 50%;
    min-height: 600px;
    padding : 20px;
 
    
    &:hover{
        border : 1px solid $borderPrimaro;
        border-top: 5px solid $colorPrimario;
        border-bottom: 5px solid $colorPrimario;

        div{
            animation : slidein 0.5s forwards
        }

        img{
            animation: zoomout 0.5s forwards;
        }
    }

    &__name {
        font-weight: 900;
    }

    &__position{
        color : #676767
    }
    
}

@keyframes slidein {
    from {
        transform: translateY(0px);
    }
  
    to {
        transform: translateY(10px);
    }
}

@keyframes zoomout {
    0%{
        transform: scale(1);
    }
    100%{
        transform : scale(1.1)
    }
}