$colorPrimario : #00bde3;
$colorHoverPrimario : #019fbe;
$filterPrimario : invert(64%) sepia(43%) saturate(5614%) hue-rotate(152deg) brightness(100%) contrast(101%);
$colorBlanco : #fff;
$colorHoverBlanco : #7a7a7a;
$backgroundSecundario :  rgb(62, 62, 62);
$borderPrimaro : #dbdbdb