<div class="content d-flex justify-content-between">
    <div class="content__info col-6 d-flex flex-row justify-content-end">
        <div>
            <h1 class="content__title">
                <span class="title-bold">Nuestro</span> Trabajo
            </h1>
            <div
                class="content__info__data d-flex justify-content-between mt-5">
                <div>
                    <span class="col-6">Casos de exito</span>
                    <p>Asesorias Contables</p>
                </div>

                <span class="col-6 content__info__data__porcentaje text-end"
                    >95%</span
                >
            </div>
            <div
                class="content__info__data d-flex justify-content-between mt-5">
                <div>
                    <span class="col-6">Clientes</span>
                    <p>*Activos 2024</p>
                </div>
                <span class="col-6 content__info__data__porcentaje2 text-end"
                    >102</span
                >
            </div>
            <mat-divider></mat-divider>
            <div class="d-flex flex-column justify-content-center">
                <p class="text-center parafrasis">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repudiandae omnis ipsam labore voluptas id doloremque quam
                    sunt repellendus delectus, voluptate blanditiis, qui, maxime
                    et! Molestiae beatae iure architecto nostrum tempora.
                </p>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="onRouteRegister()">
                    Registrate
                </button>
            </div>
        </div>
    </div>

    <img
        class="col-6"
        src="../../../../assets/img/singlePage/analista.jpg"
        alt="" />
</div>
